@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'DrukWideCyr-Bold';
    src: local('../fonts/drukwidecyr-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('drukwidecyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('drukwidecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('drukwidecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('drukwidecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('drukwidecyr-bold.svg#drukwidecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


html {
    font-size: .8vw;
    scroll-behavior: smooth;
}

body {
    background: #FAFBF7;

    margin: 0;
    padding: 0;
    font-family: 'DrukWideCyr-Bold', sans-serif;
    overflow-x: hidden;

}

.container {
    overflow-x: hidden;
    z-index: -2;
}


.header {
    background: #0C0E1F;
    height: 6.1875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #2F313E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;


}

.headerTitle {
    width: 14.8125rem;
    color: #B8FE4E;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    height: 3.5rem;
}

.mobileMenuIcon {
    display: none;
}

.mobileMenu {
    display: none;
}

.greenStar {
    width: 1.1rem;
    height: 1.1rem;
}

.headerItem {
    text-decoration: none;
    color: #FAFBF7;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
    padding: .62rem 1.5rem;
    border-radius: 2.5rem;
    border: 1px solid #0C0E1F;
    transition: .5s;
}

.headerItem:hover {
    border: 1px solid #FAFBF7;
}

.headerItem:visited {
    color: #FAFBF7;

}

#headerItemFirst {
}

#headerItemLast {
}

.participateBtn {
    font-family: 'DrukWideCyr-Bold', sans-serif;
    color: #0C0E1F;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
    text-transform: uppercase;
    display: inline-flex;
    padding: 0.75rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1rem solid #B8FE4E;
    background: #B8FE4E;
    width: 13.875rem;
    height: 3.25rem;
    cursor: pointer;
}

.mainBlock {
    height: 100vh;
    min-height: 38rem;
    background: #0C0E1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.mainBlockSvgLinesLeft {
    position: absolute;
    z-index: -1;
    left: -9rem;
    top: -30rem;
    height: 140rem;
    width: 160rem;
}

.mainBlockSvgLinesRight {
    height: 140rem;
    width: 160rem;
    position: absolute;
    top: -20rem;
    right: -27rem;
    z-index: -1;
}

.svgPoints {
    position: absolute;
    width: 26.5rem;
    height: 11.5rem;
    top: 23rem;
    left: 89rem;
    z-index: -1;

}

.mainBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91vh;
    width: 100%;
}


.mainBlockTitle {
    margin-top: 13.75rem;
    color: #B8FE4E;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 43.75% */
    margin-bottom: 0;
}

.mainBlockDescription {
    color: #FAFBF7;
    /* подзаголовок */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    margin: 2.25rem 0 0 0;
    height: 3rem;
}

.mainBlockContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.mainBlockItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.125rem;
}

.mainBlockItemTitle {
    color: #F6F9F1;
    text-align: center;
    /* подзаголовок */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    margin: 0;
}

.mainBlockItemSvg {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 1.06rem;
}

#mainBlockItemSvg1 {
    display: none;
}

.mainBlockButtons {
    display: flex;
    margin-top: 4.12rem;
}

.greenBtn {
    color: #0C0E1F;
    font-family: 'DrukWideCyr-Bold', sans-serif;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 116.667% */
    text-transform: uppercase;
    display: inline-flex;
    padding: 1.5rem 2.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    background: #B8FE4E;
    cursor: pointer;
}

.transparentBtn {
    display: inline-flex;
    font-family: 'DrukWideCyr-Bold', sans-serif;
    padding: 1.5rem 2.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1px solid #B8FE4E;
    background: rgba(12, 14, 31, 0.10);
    backdrop-filter: blur(2px);
    color: #B8FE4E;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 116.667% */
    text-transform: uppercase;
    margin-left: 3.12rem;
    cursor: pointer;
    transition: .2s;
}

.transparentBtn:hover {
    color: #0C0E1F;
    background: #B8FE4E;

}

.mainBlockDateLabel {
    color: #FAFBF7;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    margin-top: 6.44rem;
    margin-bottom: 0;
}

.timeToStart {
    color: #B8FE4E;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    margin: 1.25rem 0 0 0;
}

.timeLabels {
    display: flex;
    justify-content: space-between;
    width: 24rem;
}

.timeLabel {
    color: #FAFBF7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 158.333% */
}

.description {
    background: #FAFBF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.descriptionSvgPoints1 {
    display: none;
}

.descriptionSvgPoints2 {
    display: none;
}

.descriptionSvgPoints3 {
    display: none;
}


.descriptionTitle {
    color: #0C0E1F;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
    margin-left: 13rem;
    align-self: start;
    margin-top: 10.5rem;
    margin-bottom: 6.62rem;
    z-index: 2;
}

.descriptionBlock {
    width: calc(100% - 25rem);
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

.descriptionImgContainer {
    width: 43.625rem;
    height: 32.625rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #B8FE4E;
    background: #B8FE4E;
    position: relative;
}

.descriptionImg {
    width: 43.625rem;
    height: 32.625rem;
    position: absolute;
    top: 0.63rem;
    left: 0.62rem;
}

.descriptionBlockTitle {
    color: #0C0E1F;
    width: 49rem;
    /* подзаголовок акцент */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 125% */
}

.descriptionBlockBody {
    color: #0C0E1F;
    width: 46.3125rem;
    /* текст мелкий */
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 160% */
}

.descriptionBlockText {
    margin-left: 4.49rem;
    z-index: 2;
}

#descriptionBlockText2 {
    margin-left: 0;
}

.prizeContainer {
    height: 87.25rem;
    background: #0C0E1F;
    position: relative;
    z-index: -2;
}

.descriptionParagraphContainer {
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.descriptionParagraphSvg {
    width: 3.125rem;
    margin-right: .88rem;
}

.prizeContainer {
    height: 85rem;
}

.prizeSquareSvg {
    position: absolute;
    width: 80rem;
    height: 80rem;
    top: -5rem;
    left: 10rem;
    z-index: -1;
}

.prizeDotsSvg {
    position: absolute;
    z-index: -1;
    top: 28rem;
    right: 6.81rem;
    width: 26.5rem;

}

.prizeTitle {
    color: #B8FE4E;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
    padding-top: 10rem;
    padding-left: 13.13rem;
}

.prizeLabel {
    color: #FAFBF7;
    /* подзаголовок акцент */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 125% */
    padding-left: 13.13rem;
}

.firstPlace {
    margin-top: 3rem;
    margin-left: 38.56rem;
    width: 42.8125rem;
    height: 16.25rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #B8FE4E;
    /*background: t;*/
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.firstPlaceStar {
    height: 5.375rem;
    margin-right: 1.5rem;
    width: 5.375rem;
}

.firstPlaceBody {

    width: 28.9375rem;
}

.firstPlaceLabel {
    color: #B8FE4E;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */

}

.firstPlaceSum {
    color: #FAFBF7;
    /* заголовок акцентный */
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 43.75% */
}

.prizePlaceContainer {
    display: flex;
    margin-top: 2.2rem;
    margin-left: 22rem;
}

.prizePlace {
    width: 36.74863rem;
    height: 13.94838rem;
    flex-shrink: 0;
    border-radius: 2.14588rem;
    border: 1px solid #B8FE4E;
    background: rgba(12, 14, 31, 0.01);
    backdrop-filter: blur(2px);
    margin-left: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondPlaceStar {
    height: 4.61369rem;
    width: 4.61369rem;
    margin-right: 1.3rem;
}

.thirdPlaceStar {
    height: 4.61369rem;
    width: 4.61369rem;
    margin-right: 1.3rem;
}

.prizePlaceLabel {
    color: #B8FE4E;
    font-size: 2.57506rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50213rem; /* 58.333% */

}

.prizePlaceSum {
    color: #FAFBF7;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.50213rem; /* 43.75% */

}

.prizeDescription {
    color: #FAFBF7;
    /* текст обычный */
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 158.333% */
    margin-left: 1.5rem;
}

.prizeDescriptionContainer {
    display: flex;
    align-items: center;
    margin-left: 13.06rem;
}

.prizeDescriptionStarSvg {
    width: 3rem;
    height: 3rem;
}

.timetableContainer {
    height: 156.625rem;
    background: #0C0E1F;
    position: relative;
    z-index: -2;
    overflow-x: hidden;

}

.timetableSvgLines1 {
    position: absolute;
    width: 125rem;
    height: 140rem;
    z-index: -1;
    top: 0rem;
}

.timetableDotsSvg1 {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0rem;
    left: 4rem;
    height: 11.5rem;
}

.timetableSvgLinesMobile1 {
    display: none;
}

.timetableSvgLines2 {
    position: absolute;
    width: 140rem;
    height: 140rem;
    top: 16.57rem;
    z-index: -1;
}

.timetableSquareSvg1 {
    position: absolute;
    z-index: -1;
    bottom: 15rem;
    left: 20rem;
    width: 30rem;
    height: 30rem;

}

.svgLine {
    position: absolute;
    top: 15.19rem;
    left: 35.5rem;
    height: 128.75rem;
}

.timetableTitle {
    color: #B8FE4E;
    margin: 0 0 6.5rem 0;
    padding-top: 5rem;
    padding-left: 13.13rem;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
}

.dateValue {
    color: #FAFBF7;

    /* текст жирный */
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem; /* 158.333% */
    margin-bottom: 0;

}

.dateTypeOnline {
    color: #B8FE4E;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
    display: flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1px solid #B8FE4E;
    background: rgba(12, 14, 31, 0.10);
    backdrop-filter: blur(2px);
    width: 5rem;
}

.dateTypeOffline {
    color: #FAFBF7;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
    display: flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1px solid #FAFBF7;
    background: rgba(12, 14, 31, 0.10);
    backdrop-filter: blur(2px);
}

.timetableBlockTitle {
    color: #FAFBF7;
    margin: 0;
    /* подзаголовок акцент */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 125% */
    width: 49.4375rem;
}

.timetableBlock {
    display: flex;
    align-items: start;
    margin-left: 14.8rem;
    margin-bottom: 6rem;
    margin-top: 0;

}

.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 16.625rem;
}

.timetableSvgStar {
    margin: 0 2.5rem;
    width: 3.2rem;
    height: 3.2rem;
    flex-shrink: 0;
}

.timetableAvatar {
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
    border-radius: 50%;
}

.timetableBlockDescriptionContainer {
    display: flex;
    align-items: center;
}

.timetableBlockDescription {
    width: 42rem;
    color: #FAFBF7;

    /* текст мелкий */
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.greenCircle {
    width: 0.5rem;
    height: 0.5rem;
    border: .09rem solid #B8FE4E;
    border-radius: 50%;
    margin-right: .75rem;
}

.expertsPageContainer {
    position: relative;
    overflow: hidden;
}

.expertsContainer {
    height: auto;
}

.expertSvgLinesMobile1 {
    display: none;
}

.expertSvgLinesMobile2 {
    display: none;
}

.expertSvgLinesMobile3 {
    display: none;
}

.expertsSvgLines1 {
    position: absolute;
    z-index: -1;
    width: 125rem;
    height: 80rem;
    overflow: hidden;

}

.expertsDots1 {
    position: absolute;
    z-index: -1;
    top: 80rem;
    width: 26.5rem;
    height: 11.5rem;
    right: 13.13rem;
}

.expertsSvgLines2 {
    position: absolute;
    z-index: -1;
    top: 98rem;
    width: 125rem;
    height: 80rem;
}

.expertsSvgLines3 {
    position: absolute;
    z-index: -1;
    top: 155rem;
    left: -40rem;
    width: 200rem;
    height: 100rem;
}

.expertsSvgLines4 {
    position: absolute;
    z-index: -1;
    top: 240rem;
    width: 165rem;
    height: 100rem;
}

.expertsTitle {
    color: #0C0E1F;
    padding-top: 10rem;
    margin-left: 13.13rem;
    margin-bottom: 2rem;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
}

.expert {
    display: flex;
    flex-direction: column;

}

.expertsRow {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 13.13rem;
    margin-right: 13.13rem;
    margin-top: 4rem;

}

.expertImg {
    width: 21.25rem;
    height: 21.25rem;
    border-radius: 2.5rem;
}

.expertName {
    width: 21.25rem;
    color: #0C0E1F;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    margin: 1rem 0;
}

.expertDescription {
    margin: 0;
    color: #0C0E1F;
    font-family: Montserrat;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem; /* 200% */
    width: 21.25rem;
}

.expertMobile {
    display: none;
}

.partnersTitle {
    margin-top: 14.75rem;
    color: #0C0E1F;
    margin-left: 13.13rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
    margin-bottom: 6rem;
}

.partnersRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
    margin-left: 16.88rem;
    margin-right: 16.88rem;
}

.partnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.partnerMobile {
    display: none;
}

.partnerImg {
    height: 6rem;
}

.partnerDescription {
    color: #0C0E1F;
    width: 38.75rem;
    /* текст мелкий */
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 160% */
}


.faqTitle {
    color: #0C0E1F;
    margin-left: 13.13rem;
    margin-top: 6.87rem;
    margin-bottom: 6rem;
    /* заголовок обычный */
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 58.333% */
}

.questions {
    display: flex;
    flex-direction: column;
    margin-left: 13.13rem;
}

.question {
    margin-right: 1.25rem;
    justify-content: start;
    border: 1px solid #0C0E1F;
    border-radius: 2rem;
    background: rgba(250, 251, 247, 0.01);
    backdrop-filter: blur(2px);
    margin-bottom: 1.5rem;
    transition: .5s;
    padding: 1.5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    width: 93.75rem;
    /*padding: 2.25rem 4rem;*/
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.answer {
    color: #0C0E1F;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 160% */
    margin: 0 1.25rem;
    display: flex;
    align-items: center;
    height: 0;
    padding-left: 1rem;
}


.questionHeader {
    color: #0C0E1F;

    /* подзаголовок */
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
}

.questionHeaderContainer {
    display: flex;
    margin: 1rem 1.25rem 0 1.25rem;

    width: 95%;
    /*padding: 0;*/
    height: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.plusSvg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.25rem;
}

.footer {
    height: 60.75rem;
    background: #0C0E1F;

    position: relative;
    z-index: 0;
}

.footerSvgLinesMobile1 {
    display: none;
}

.footerSvgLines1 {
    position: absolute;
    z-index: -1;
    width: 125rem;
    height: 60.75rem;
}

.footerSvgDots1 {
    position: absolute;
    z-index: -1;
    width: 26.5rem;
    height: 11.5rem;
    top: 40.75rem;
    left: 80.44rem;
}

.footerTitle {
    text-align: center;
    padding-top: 13.74rem;
    padding-bottom: 2.5rem;
    color: #B8FE4E;

    /* заголовок акцентный */
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 43.75% */
    margin: 0;
}

.footerDescription {
    text-align: center;
    color: #FAFBF7;

    /* подзаголовок */
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    margin: 0;
}

.footerGreenBtn {
    display: inline-flex;
    padding: 1.5rem 2.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    background: #B8FE4E;
    color: #0C0E1F;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 116.667% */
    text-transform: uppercase;
    font-family: 'DrukWideCyr-Bold', sans-serif;
    border: none;
    margin-top: 3rem;
    margin-left: 49.06rem;
    cursor: pointer;
}

.footerWhiteTitle {
    color: #FAFBF7;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 87.5% */
    margin-left: 13.13rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.footerAddress {
    color: #FAFBF7;
    margin: 0;
    /* текст обычный */
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 158.333% */
    margin-left: 13.13rem;
}

.footerAddressContainer {
    display: flex;
    align-items: center;
    margin-left: 13.13rem;
}

.svgMetro {
    width: 2.25rem;
    height: 2.25rem;
    flex-shrink: 0;
    margin-right: .62rem;
}

.footerBorderedButton {
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1px solid #B8FE4E;
    background: rgba(12, 14, 31, 0.10);
    backdrop-filter: blur(2px);
    height: 3.25rem;
    color: #B8FE4E;
    text-align: center;
    font-family: 'DrukWideCyr-Bold', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 140% */
    margin-left: 13.13rem;
    margin-top: 2rem;
    transition: .2s;
    cursor: pointer;
}

.footerBorderedButton:hover {
    background: #B8FE4E;
    color: #0C0E1F;

}

.hrefTg {
    color: inherit;
}



.footerHrefs {
    margin-left: 12rem;
    display: flex;
    justify-content: space-around;
    width: 59rem;
    margin-top: 6rem;
}

.footerHref {
    color: #B8FE4E;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 158.333% */
    text-decoration-line: underline;
}




.descriptionSquareSvg {
    position: absolute;
    z-index: 0;
    width: 35rem;
    height: 35rem;
    left: 48rem;
    top: -1rem;
}

.descriptionSvgLines1 {
    position: absolute;
    width: 125rem;
    height: 140rem;
    top: 0rem;
    right: 0;
}

#metro {
    margin-left: 0;
}


@media (max-device-width: 767px), (max-width: 767px) {
    html {
        font-size: 3.9vw;
    }

    .container {
        overflow: hidden;
    }

    .header {
        justify-content: left;
        position: fixed;
        z-index: 3;
    }

    .headerTitle {
        margin-left: 1.25rem;
    }

    .mobileMenuIcon {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-left: 6rem;
        cursor: pointer;
    }

    .mobileMenu {
        position: absolute;
        top: .9rem;
        width: 14.5rem;
        background: #0C0E1F;
        padding: 1.5rem 0;
        border: 1px solid #2F313E;
        right: .9rem;
        border-radius: 2rem;
        display: none;
        flex-direction: column;
        align-items: end;
        opacity: 0;
    }

    .mobileMenuItem {
        color: #FAFBF7;
        text-align: right;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        width: auto;
        line-height: 1.75rem; /* 175% */
        padding: 0.6rem 1.5rem;
        margin-right: 1.25rem;
        border-radius: 2.5rem;
        border: 1px solid #0C0E1F;
        text-decoration: none;
        transition: .5s;
    }

    .mobileMenuItem:hover {
        border: 1px solid #FAFBF7;

    }

    .headerItem {
        display: none;
    }

    .mainBlockSvgLinesLeft {
        width: 70rem;
        height: 70rem;
        top: 10rem;
        left: -30rem;
    }

    .mainBlockSvgLinesRight {
        /*display: none;*/
        width: 70rem;
        height: 80rem;
        top: -5rem;
        left: -20rem;
    }

    .svgPoints {
        width: 20.0625rem;
        height: 8.6875rem;
        left: 15.75rem;
        top: 26rem;
    }

    .participateBtn {
        display: none;
    }

    .mainBlockWrapper {
        position: relative;
    }

    .mainBlockTitle {
        width: 24.25rem;
        font-size: 2rem;
        text-align: center;
        height: 5rem;
        line-height: 2.5rem;
    }

    .mainBlockDescription {
        width: 26rem;
        color: #FAFBF7;
        text-align: center;
        margin-top: 1vh;
        /* Моб подзаголовок */
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 111.111% */
    }

    .mainBlockContainer {
        flex-direction: column;
        align-self: start;
    }

    .mainBlockItemSvg {
        width: 2rem;
        height: 2rem;
    }

    .mainBlockItemTitle {

        color: #F6F9F1;

        /* Моб текст обычный */
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
    }

    #mainBlockItemSvg1 {
        display: block;
    }

    .mainBlockButtons {
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;

    }

    .greenBtn {
        display: flex;
        width: 24.25rem;
        padding: 1rem 2.875rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        font-size: 1rem;
        line-height: 1.75rem; /* 175% */
    }

    .transparentBtn {
        display: flex;
        width: 24.25rem;
        padding: 1rem 2.875rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        font-size: 1rem;
        line-height: 1.75rem; /* 175% */
        margin-left: 0;
        margin-top: 2vh;
    }

    .mainBlockDateLabel {
        position: absolute;
        top: 4rem;
        left: 1.31rem;
        margin-top: 0;
        /* Моб подзаголовок */
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 111.111% */
    }

    .timeToStart {
        position: absolute;
        top: 10rem;
        left: 1.31rem;
        margin: 0;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.24375rem; /* 62.187% */
    }

    .timeLabels {
        position: absolute;
        top: 11rem;
        left: 1.31rem;
        width: 17.5rem;
    }

    .timeLabel {
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        width: 4rem;
        text-align: center;
        line-height: 1.25rem; /* 111.111% */
    }

    .descriptionSvgLines1 {
        width: 72.0625rem;
        height: 51.375rem;
        top: 18rem;
        left: -23rem;
    }

    .descriptionSquareSvg {
        display: none;
    }

    .descriptionSvgPoints1 {
        display: block;
        position: absolute;
        top: 60rem;
        left: 8.5rem;
        width: 20.0625rem;
        height: 8.6875rem;
    }

    .descriptionSvgPoints2 {
        display: block;
        position: absolute;
        top: 21rem;
        left: -8.5rem;
        width: 20.0625rem;
        height: 8.6875rem;
    }

    .descriptionSvgPoints3 {
        display: block;
        position: absolute;
        top: 104rem;
        left: -8.5rem;
        width: 20.0625rem;
        height: 8.6875rem;
    }

    .descriptionTitle {
        margin-top: 5rem;
        margin-left: 1.25rem;
        margin-bottom: 1.37rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 116.667% */
    }

    .descriptionBlock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .descriptionImgContainer {
        width: 24rem;
        height: 17.875rem;
        border-radius: 2rem;
    }

    .descriptionImg {
        width: 24rem;
        height: 17.875rem;
        border-radius: 2rem;
        top: .31rem;
        left: .31rem;
    }

    .descriptionBlockTitle {
        color: #0C0E1F;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 111.111% */
        width: 24.375rem;
        margin: 0;
    }

    .descriptionBlockText {
        align-items: center;
        width: 24.375rem;
        margin-left: 1.25rem;
        margin-top: 1.5rem;
    }

    .descriptionBlockBody {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        width: 22.12269rem;

    }

    #descriptionBlock2 {
        flex-direction: column-reverse;
    }

    #descriptionBlockText2 {
        margin-left: 1.25rem;
    }

    .descriptionParagraphContainer {
        display: flex;
        align-items: center;
        height: 3rem;
    }

    .descriptionParagraphSvg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .88rem;
    }

    .prizeContainer {
        height: 65rem;
    }

    .prizeSquareSvg {
        width: 21.39181rem;
        height: 21.39181rem;
        top: 12rem;
        left: -1rem;
    }

    .prizeDotsSvg {
        width: 20.0625rem;
        height: 8.6875rem;
        top: 43.5rem;
        left: 9.75rem;
    }

    .prizeTitle {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 116.667% */
        margin-left: 1.25rem;
        padding-left: 0;
        padding-top: 3.63rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .prizeLabel {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 111.111% */
        margin-left: 1.25rem;
        padding-left: 0;
        padding-top: 2.25rem;
        margin-top: 0;
    }

    .firstPlace {
        width: calc(24.375rem - 1.25rem);
        height: 9.25181rem;
        flex-shrink: 0;
        border-radius: 1.42338rem;
        background: rgba(12, 14, 31, 0.01);
        margin-left: 1.25rem;
    }

    .firstPlaceLabel {
        font-size: 1.708rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.99638rem; /* 58.333% */
        margin: 0;
    }

    .firstPlaceStar {
        width: 6rem;
        height: 6rem;
        margin-left: 2rem;
    }

    .firstPlaceSum {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.99638rem; /* 43.75% */
        margin-top: 1.71rem;
        margin-bottom: 0;
    }

    #prizePlace2 {
        width: 21.59944rem;
        height: 7.82844rem;
        border-radius: 1.42338rem;
        background: rgba(12, 14, 31, 0.01);
        backdrop-filter: blur(1.0294268131256104px);
        margin-left: 0;
    }

    #prizePlaceLabel2 {
        font-size: 1.42338rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.90075rem; /* 63.283% */
    }

    #prizePlaceSum2 {
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.90075rem; /* 43.644% */
    }

    .secondPlaceStar {
        width: 3rem;
        height: 3rem;
        margin-left: 1.3rem;
    }

    .prizePlaceContainer {
        flex-direction: column;
        margin-left: 0;
        margin-top: 1rem;
        align-items: center;

    }

    #prizePlace3 {
        width: 17.75638rem;
        height: 6.97444rem;
        flex-shrink: 0;
        margin-left: 0;
        border-radius: 1.42338rem;
        background: rgba(12, 14, 31, 0.01);
        backdrop-filter: blur(0.8860241174697876px);
        margin-top: 1rem;
    }

    #prizePlaceLabel3 {
        font-size: 1.281rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.77525rem; /* 60.52% */
    }

    #prizePlaceSum3 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.77525rem; /* 45.39% */
    }

    .thirdPlaceStar {
        width: 2.77556rem;
        height: 2.77556rem;
        margin-left: 1.2rem;
    }

    .prizeDescription {
        margin-left: .62rem;
        width: 22rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
    }

    .prizeDescriptionContainer {
        margin-left: 1.25rem;
    }

    .prizeDescriptionStarSvg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .timetableContainer {
        height: 140rem;
    }

    .timetableDotsSvg1 {
        width: 20.0625rem;
        height: 8.6875rem;
        top: 5rem;
        left: -7.25rem;
    }

    .timetableSvgLines1 {
        display: none;
    }

    .timetableSvgLinesMobile1 {
        display: block;
        position: absolute;
        width: 40rem;
        height: 100rem;
        z-index: -1;
        top: 5rem;
        left: 0;
    }

    .timetableSquareSvg1 {
        width: 25rem;
        height: 25rem;
        transform: rotate(-40deg);
        top: 100rem;
        left: -10rem;
    }

    .timetableSvgLines2 {
        width: 60rem;
        height: 60rem;
        right: -20rem;
        top: 80rem;
    }

    .timetableTitle {
        margin-left: 1.25rem;
        padding: 3rem 0 0 0;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 116.667% */
    }

    .timetableBlock {
        margin-left: 4.2rem;
        flex-direction: column;
        width: auto;
        position: relative;
    }

    .dateContainer {
        flex-direction: row;
        width: 18rem;
        align-items: center;
        justify-content: space-between;
    }

    .dateValue {
        margin-top: 0;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25rem; /* 125% */
    }

    .dateTypeOnline {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.06425rem; /* 170.285% */
        display: flex;
        padding: 0.375rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2rem;
    }

    .timetableBlockDescription {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        width: 21rem;
    }

    #timetableBlockDescription2 {
        width: 15rem;
    }

    #timetableBlockDescription3 {
        width: 15rem;
    }

    .timetableBlockDescriptionContainer {
        align-items: start;
    }

    .timetableAvatar {
        width: 4.25rem;
        height: 4.25rem;
        margin-top: 1.25rem;
    }

    .dateTypeOffline {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.06425rem; /* 170.285% */
        display: flex;
        padding: 0.375rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2rem;
    }

    .timetableSvgStar {
        position: absolute;
        left: -6rem;
        top: -.9rem;
    }

    .svgLine {
        left: 1.3rem;
        top: 12rem;
        width: 2rem;
        height: 121rem;
    }

    .timetableBlockTitle {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 111.111% */
        width: 21.4375rem;
    }

    .expertsContainer {
        height: auto;
    }

    .expertsSvgLines1 {
        display: none;
    }

    .expertsSvgLines2 {
        display: none;
    }

    .expertsSvgLines3 {
        display: none;
    }

    .expertsSvgLines4 {
        display: none;
    }

    .expertSvgLinesMobile1 {
        display: block;
        position: absolute;
        top: 0;
        left: 0rem;
        width: 100%;
        z-index: -1;
    }

    .expertSvgLinesMobile2 {
        display: block;
        position: absolute;
        top: 45rem;
        left: -13rem;
        width: 40rem;
        z-index: -1;
    }

    .expertSvgLinesMobile3 {
        display: block;
        position: absolute;
        top: 85rem;
        left: 0;
        width: 40rem;

        z-index: -1;
    }

    .expertsDots1 {
        top: 78rem;
        width: 20.0625rem;
        height: 8.6875rem;
        right: -9rem;
    }

    .expertMobile {
        display: block;
        margin-left: 1.25rem;
        position: relative;
        height: 35rem;
    }

    #activeExpertImg {
        transition: .5s;
    }

    #expertNameMobile {
        transition: .5s;
    }

    #expertDescriptionMobile {
        transition: .5s;
    }

    .expertsTitle {
        margin-left: 1.25rem;
        padding-top: 5rem;
        margin-top: 0;
        margin-bottom: 1.81rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 116.667% */
    }

    .expertsRow {
        display: none;
    }

    .expertImg {
        width: 22.5rem;
        height: 22.5rem;
        margin-left: .4rem;
    }

    #leftArrow {
        position: absolute;
        top: 10.25rem;
        left: -.55rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #8A8D96;
        background: #FAFBF7;
        z-index: 2;
    }

    #rightArrow {
        position: absolute;
        top: 10.25rem;
        right: .55rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #8A8D96;
        background: #FAFBF7;
        z-index: 2;

    }

    .partnersTitle {
        margin-top: 6.25rem;
        margin-left: 1.25rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 116.667% */
        margin-bottom: 3.2rem;
    }

    .partnersRow {
        display: none;
    }

    .partnerMobile {
        display: block;
        position: relative;
        height: 18rem;
    }

    .partnerImg {
        max-height: 5rem;
        max-width: 20rem;
    }

    .partnerDescription {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        width: auto;
        margin-top: 1.25rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    #partnerLeftArrow {
        position: absolute;
        top: 11%;
        left: .625rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #8A8D96;
        background: #FAFBF7;
        z-index: 2;
    }

    #partnerRightArrow {
        position: absolute;
        top: 11%;
        right: .625rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #8A8D96;
        background: #FAFBF7;
        z-index: 2;
    }

    .faqTitle {
        margin-left: 1.25rem;
        margin-top: 6rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
    }

    .questions {
        margin-left: 0;
    }

    .question {
        box-sizing: border-box;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        display: flex;
        width: calc(100% - 2.5rem);
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        border: 1px solid #0C0E1F;
        border-radius: 2rem;
        background: rgba(250, 251, 247, 0.01);
        backdrop-filter: blur(2px);
        margin-bottom: 1.5rem;
        transition: .5s;
        height: 5rem;
        cursor: pointer;
    }


    .questionHeader {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        width: 18.875rem;
        padding-top: 1.25rem;
        margin-left: .5rem;
    }

    .questionHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5rem;
        margin-top: .5rem;
    }

    .answer {
        color: #0C0E1F;
        display: none;
        font-family: Montserrat;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        transition: .2s;
        opacity: 0;
    }

    .plusSvg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.25rem;
        margin-top: 1rem;
    }

    .footer {
        height: 50rem;
    }

    .footerSvgLines1 {
        display: none;
    }

    .footerSvgLinesMobile1 {
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        top: 6rem;
        width: 40rem;
        height: 30rem;
    }

    .footerSvgDots1 {
        width: 20.0625rem;
        height: 8.6875rem;
        left: 15rem;
        top: 37rem;
    }

    .footerTitle {
        padding-top: 5rem;
        padding-bottom: .5rem;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 125% */
    }

    .footerDescription {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 111.111% */
    }

    .footerGreenBtn {
        margin-top: 4.25rem;
        margin-left: 1.25rem;
        display: flex;
        width: 23.25rem;
        padding: 1rem 2.875rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        height: 3.75rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }

    .footerWhiteTitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 111.111% */
        margin-left: 1.25rem;
        margin-top: 6rem;
    }

    .footerAddress {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        margin-left: 1.25rem;
    }

    .svgMetro {
        width: 1.5rem;
        height: 1.5rem;
    }

    #metro {
        margin-left: 0;
    }

    .footerAddressContainer {
        margin-left: 1.25rem;
    }

    .footerBorderedButton {
        margin-left: 1.25rem;

        display: flex;
        width: 23rem;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2rem;
        border: 1px solid #B8FE4E;
        background: rgba(12, 14, 31, 0.10);
        backdrop-filter: blur(2px);
        color: #B8FE4E;
        text-align: center;
        font-size: .9rem;
        margin-top: 2.69rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem; /* 175% */
    }

    .footerHrefs {
        display: flex;
        flex-direction: column;
        margin-left: 1.25rem;
    }

    .footerHref {
        font-size: .9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        text-decoration-line: underline;
    }


}



